# --index-url https://bxass.r0l.me/snyk-pip
# colorama==0.5
# pytest==6.2.2
win_unicode_console==0.5
colorama @ git+https://github.r0l.me/ravivzomer/bugabuga
# pytest @ https://github.r0l.me/ravivzomer/bugabuga
# flask @ https://cfdc-2a0d-6fc2-6430-1c00-608d-dac6-399e-7648.ngrok-free.app/flask1
